body {
    font-family: "GT Eesti Pro", Arial, sans-serif;
    font-weight: 600;
}

.progress-bar-container {
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.circular-progress {
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: conic-gradient(#005bff 0deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 0s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #fff;
}

.states {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.value-container {
    border-radius: 34px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    content: "";
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #005bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggle-inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.value-inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

input[type=text] {
    width: 52px;
    height: 26px;
    border-radius: 34px;
    text-align: center;
    font-family: "GT Eesti Pro", Arial, sans-serif;
}

@media (max-width: 600px) {
    .progress-bar-container {
        display: flex;
        flex-direction: column;
    }
}
